---
title: Ошибка
errorTitle: 500
errorText: Мы уже фиксим
---

{{!< main}}

<div class="containerError">
    <div class="containerError__title">
        {{errorTitle}}
    </div>
    <div class="containerError__text">
        {{errorText}}
    </div>
    {{> link hrefLink='menuChats.hbs' classLink="link" textLink="Назад к чатам" }}
</div>