<li class="chatItem">
  <div class="chatItem__avatar">
    {{> avatar}}
  </div>
  <div class="chatItem__nameAndMessage">
    <div class="chatItem__name">
      {{name}}
    </div>
    <div class="chatItem__lastMessage">
      {{lastMessage}}
    </div>
  </div>
  <div class="chatItem__dateAndCount">
    <div class="chatItem__date">
      {{timeLastMessage}}
    </div>
    <div class="chatItem__count">
      {{countNotRead}}
    </div>
  </div>
</li>